<footer class="footer">
  <div class="container">
    <a href="https://github.com/milani" title="Me on github">Github</a> | <a href="https://twitter.com/morteza_milani" title="Me on twitter">Twitter</a><br>Published under <a rel="license" href="http://creativecommons.org/licenses/by/3.0/legalcode">Creative Commons Attribution 3.0 Unported License</a>
  </div>
</footer>
<script src="/js/jquery.js"></script>
<!--script src="/js/bootstrap-transition.js"></script>
<script src="/js/bootstrap-tooltip.js"></script>
<script src="/js/bootstrap-popover.js"></script-->